body{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.home-page{
	position: absolute;
	top: 0;left: 80px;
	width: calc(100% - 160px);height: 100%;
	/*z-index: 5;*/
	background-color: transparent !important;
	-webkit-transform: skew(17.3deg);
	   -moz-transform: skew(17.3deg);
	     -o-transform: skew(17.3deg);

	-webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.home-page.closed{
	opacity: 0;
	z-index: 0;	
}
.home-page .container{
	-webkit-transform: skew(-17.3deg);
	   -moz-transform: skew(-17.3deg);
	     -o-transform: skew(-17.3deg);
}
.home-page .banner-img{
	position: absolute;top:0;left: -120px;
	width: calc(100% + 200px);height:100%;
	
	-webkit-transform: skew(-17.3deg);
	   -moz-transform: skew(-17.3deg);
	     -o-transform: skew(-17.3deg);
}
.bg-somn{
	position: absolute;top:0;left: -120px;
	width: calc(100% + 200px);height:100%;
	background: rgba(0,0,0,0.5);

	-webkit-transform: skew(-17.3deg);
	   -moz-transform: skew(-17.3deg);
	     -o-transform: skew(-17.3deg);	
}
.bg-somn .products{
	position: absolute;left:0;top:0;width:100%;height:100%;
	transform:translate3d(0,100%,0);
}
.product-btn{
	/*transform:translate3d(0,-320px,0);*/
	display: inline-block;
	color: #fff;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 137px;
	height: 137px;
	line-height: 137px;
	padding: 0;
	background-color: #26a69a;
	border-radius: 50%;
	transition: .3s;
	cursor: pointer;
	vertical-align: middle;
	font-size: 1.4rem;
	font-family: verdana cursive !important;
}
.shadow-text{
	text-shadow:1px 1px 1px rgba(0,0,0,.6);
}
.mini-shadow-text{
	text-shadow:0 0 1px rgba(0,0,0,.3);
}
#parent{
	z-index: 1;
	position: absolute;top: 0;left: 0;
	width: 100%;height: 100%;
}
.parallelogram{
	position: relative;
	float: left;
	width: 30%;
	height: 100%;
	overflow: hidden;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}
.parallelogram:first-child, .parallelogram:last-child{	
	width: 35%;
}
.parallelogram .desc{
	position: absolute;left:0;top:50%;
	width:100%;height: 48%;
	text-align: center;
	padding: 15px;

	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
}
.parallelogram .desc p{
	width:100%;height: 28%;
	display: block;
	white-space: normal;
	overflow: hidden;
	text-overflow:ellipsis;
}
.parallelogram img{
	position: absolute;
	width:135%;height:50%;left:-15%;
	background: transparent;
	-webkit-transform: scale(1) skew(-20deg);
	-moz-transform: scale(1) skew(-20deg);
	-transform: scale(1) skew(-20deg);
}
.extry{
	position: relative;
	display: table;
	float: left;
	width: 5%;
	height: 100%;
	overflow: hidden;
}
.parallelogram:not(.extry):hove{
	z-index: 999;

	-webkit-transform: scale(1.4) skew(20deg);
	   -moz-transform: scale(1.4) skew(20deg);
	     -o-transform: scale(1.4) skew(20deg);
}


/*DETAILS*/
#share-button, #home-link{
	/*opacity: 0;*/
}

.extras{
	position: absolute;top:0%;left: 0px;
	z-index:3;
	height: 120%;
	width: 200px;
	background: #fff;
	box-shadow:0 2px 35px 0 rgba(0,0,0,.26);
	-webkit-transform: rotate(-17.3deg);
	   -moz-transform: rotate(-17.3deg);
	     -o-transform: rotate(-17.3deg);
	-transform: rotate(-17.3deg);
}
.extras.bottom-left{
	left: -100px;height: 120%;
}
.extras.top-right{
	left: calc(100% - 85px);
	top:-80px !important;
}


#details{
	/*opacity: 0;*/
	/*z-index: 0;*/
	overflow: hidden;
	/*background-color: red;*/
	position: absolute;left:0;height:100%;
	width:100%;

	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
}
.jura{
	width: 100%;
	position: absolute;
	height: 100%;
}
#top-banner{
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
	     -o-transform: translateY(-100%);
	     transform: translateY(-100%);
}
#details .card{
	box-shadow: none;
	background-color: rgba(255,255,255, 0);
}
#back-button{
	/*display: none;*/
	position: absolute;top:50px;left:50px;
	color:#616161;z-index: 99;
}
.prod-title{
	position: absolute;top:50px;left:400px;
	text-shadow: 0 0 5px #000;
	font-size: 50px;
}
.jura{
	padding: 0;
	padding-left: 140px;
	padding-right: 140px;
}
.jura .row{
	margin-left: -140px;
	margin-right: -140px;
	height: 300px;
}
.action-buttons a, #back-button{
	opacity: 0;
}
.action-buttons{
	-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.action-buttons li:first-child a,.action-buttons  li:last-child a{
	opacity: 0;
	-webkit-transform: translateY(-170%);
	   -moz-transform: translateY(-170%);
	     -o-transform: translateY(-170%);
	     	transform: translateY(-170%);
}
.action-buttons li:first-child a{
	-webkit-transform: translateY(170%);
	   -moz-transform: translateY(170%);
	     -o-transform: translateY(170%);	
	   		transform: translateY(170%);
}
.action-buttons  li:last-child a{
	-webkit-transform: translateY(-170%);
	   -moz-transform: translateY(-170%);
	     -o-transform: translateY(-170%);	
	     transform: translateY(-170%);
}
.action-buttons.rotated{
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}
.la-card.ng-hide-remove {
   -webkit-animation: zoomIn 1s;
    -moz-animation: zoomIn 1s;
    -ms-animation: zoomIn 1s;
    animation: zoomIn 1s;
}

.la-card.ng-hide {
     -webkit-animation: zoomOut 1s;
    -moz-animation: zoomOut 1s;
    -ms-animation: zoomOut 1s;
    animation: zoomOut 1s;
}
.card-content{
	position: absolute;
	top:-130px;
	box-shadow:2px 2px 5px #eee;
}
.card-content.textual{
	top:-100px;
	width: 100%;
	height: 400px;
	background: #fff;
	overflow: hidden;
}
.card-content.textual.minimized{
	/*display: none;*/
	opacity: 0;
	-webkit-transform: scale(0.6) translateY(10%);
	 -ms-transform: scale(0.6) translateY(10%);
	 -o-transform: scale(0.6) translateY(10%);
	 transform: scale(0.6) translateY(10%); 
}
.card-content.textual .product-image, .card-content.textual .product-details{
	position: absolute;
	float: left;
	height: 100%;
}
.card-content.textual .product-image{
	width: 40%;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;

	-webkit-transition: background-image .5s ease-in-out;
    transition: background-image .5s ease-in-out;
}
.card-content.textual .product-details{
	left: 40%;
	/*left: 0;*/
	padding:20px;
	padding-left: 40px;
}
.card-content.imagery{
	float:left;
	background-color:rgba(255,255,255,.5);
	position: relative;left:0;
	padding:10px; padding-left:15px;height:500px;width:100%;
	overflow: hidden;
}
.card-content.imagery .row{
	margin:0;padding:0;position: relative;
}
.card-content.imagery .row.fadeFlaniIvi{
	opacity: 0;
}
.card-content.imagery .row.margin-stuff{
	margin-top:-130px;padding-bottom:-1000px;
}
.card-content.imagery .col{
	margin:1%;
	width:31%;height:150px;
	cursor: pointer;
}
.card-content.imagery .col img{
	height: 120px;width:100%;
	cursor: zoom-in;
}
.image-viewer{
	position: absolute;top:0;left:0;
	width:100%;height:100%;
}
.image-viewer img{
	position: absolute;top:0;left:0;
	width: 100%;height: 100%;
	cursor: default;
	opacity: 0;

	-webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.image-viewer img.has-transition{
	-webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.image-viewer img.prev{
	opacity: 0.5;
	-webkit-transform: scale(0.5) translate3d(-125%, 0, 0);;
	-ms-transform: scale(0.5) translate3d(-125%, 0, 0);;
	-o-transform: scale(0.5) translate3d(-125%, 0, 0);;
	transform: scale(0.5) translate3d(-125%, 0, 0);;
}

.image-viewer img.current{
	cursor: maximize;
	z-index: 9;
	opacity: 1;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}

.image-viewer img.next{
	opacity: 0.5;
	-webkit-transform: scale(0.4) translate3d(145%, 0, 0);;
	-ms-transform: scale(0.4) translate3d(145%, 0, 0);;
	-o-transform: scale(0.4) translate3d(145%, 0, 0);;
	transform: scale(0.4) translate3d(145%, 0, 0);;
}

.image-viewer.full img{
	-webkit-transition: all 0.53s ease-in-out;
    transition: all 0.53s ease-in-out;

	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

.image-viewer.full img.current{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.image-viewer.full img.prev{
	-webkit-transform: scale(1) translate3d(-125%, 0, 0);;
	-ms-transform: scale(1) translate3d(-125%, 0, 0);;
	-o-transform: scale(1) translate3d(-125%, 0, 0);;
	transform: scale(1) translate3d(-125%, 0, 0);;
}
.image-viewer.full img.next{
	-webkit-transform: scale(1) translate3d(145%, 0, 0);;
	-ms-transform: scale(1) translate3d(145%, 0, 0);;
	-o-transform: scale(1) translate3d(145%, 0, 0);;
	transform: scale(1) translate3d(145%, 0, 0);;
}

.textual.ng-hide-remove {
   -webkit-animation: zoomIn 1s;
    -moz-animation: zoomIn 1s;
    -ms-animation: zoomIn 1s;
    animation: zoomIn 1s;
}

.textual.ng-hide {
	-webkit-animation: zoomOut 1s;
    -moz-animation: zoomOut 1s;
    -ms-animation: zoomOut 1s;
    animation: zoomOut 1s;
}

.imagery.ng-hide-remove {
   -webkit-animation: fadeInRight 1s;
    -moz-animation: fadeInRight 1s;
    -ms-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
}

.imagery.ng-hide {
     -webkit-animation: fadeOutRight 1s;
    -moz-animation: fadeOutRight 1s;
    -ms-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
}



/*NAV-MENU*/
.circle_menu {
    width: 60px;
    height: 60px;
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 56px;
    /*background: #e91e63;*/
    z-index: 3;
    color: #eee;
    text-align: center;
    line-height: 60px;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    bottom: 26px;
    left: 20px;
    z-index: 9999;
  }

  .menu_btn {
  	 color: #eee;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
  }

  .open .menu_btn {
    box-shadow: none;
    color: #eee;
  }

  .open .circle_menu {
    background: transparent !important;
    box-shadow: none;
    font-size: 2rem;
    color: #fefefe;
  }

  .menu_btn:after{
    content: '\f35b';
  }

  .open .menu_btn:after{
    content: '\f136';
  }

  .open .menu {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  .open .menu .menu_itm {
    opacity: 1;
  }

  .menu {
    height: 400px;
    width: 400px;
    background-color: #F06292;
    position: fixed;
    bottom: -200px;
    left: -200px;
    z-index: 999;
    border-radius: 50%;
    box-shadow: -2px -1px 3px rgba(0, 0, 0, 0.24);
    opacity: 0;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }

  .menu .menu_itm {
    display: block;
    line-height: 56px;
    font-size: 2rem;
    color: white;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in 215ms;
    transition: opacity 200ms ease-in 215ms;
  }

  .menu .menu_itm:nth-child(1) {
    left: 220px;
    bottom: 340px;
  }

  .menu .menu_itm:nth-child(2) {
    left: 315px;
    bottom: 285px;

    -webkit-transform: rotate(-25deg) translate3d(0,-10px,0);
    -ms-transform: rotate(-25deg) translate3d(0,-10px,0);
    transform: rotate(-25deg) translate3d(0,-10px,0);
  }

  .menu .menu_itm:nth-child(3) {
    left: 350px;
    bottom: 200px;
  }