<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Action Menu page</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div ng-app="ui">
    <div ng-controller="pages as vm" class="page">
      <h1>{{vm.active}}</h1>
      <h4>Material Design Action Menu</h4>
      <br><a href="http://blog.invisionapp.com/designing-in-the-material-style-without-just-copying-google/" target="_blank">inspired by</a>
      <action-menu options="vm.pages">
      </action-menu>
    </div>
  </div>
  <div class="main"></div>
  <div class="filter"></div>
  
  <script>
    angular.
    module('ui', [])
      .directive('actionMenu', actionMenu)
      .controller('pages', pages);

    function actionMenu() {

      var directive = {
        restrict: 'E',
        template: '<div class="circle_menu"><i class="fa fa-plus menu_btn"></i></div><div class="menu"><i class="fa {{page.icon}} menu_itm" ng-repeat="page in vm.pages" ng-click="vm.open(page.tpl)"></i></div>',
        link: link
      };

      return directive;

      function link(scope, element, attrs) {
        element.on('click', toggle);

        function toggle() {
          element.toggleClass('open');
        }
      }

    }

    function pages() {
      var vm = this;

      activate();

      function activate() {
        vm.open = open;
        vm.pages = [{
          'tpl': 'Home',
          'icon': 'fa-home'
        }, {
          'tpl': 'Edit',
          'icon': 'fa-pencil'
        }, {
          'tpl': 'Search',
          'icon': 'fa-search'
        }];
        vm.active = vm.pages[0].tpl;
      }

      function open(page) {
        vm.active = page;
      }
    }
  </script>
</body>
</html>