<div class="home-page brown lighten-5">
	<img src="img/bed1.jpg" alt="" class="banner-img">
	<div class="bg-somn">
		<div class="products brown lighten-4"></div>
	</div>
	<div class="container center grey-text text-lighten-5 hid">
		<br><br><br><br>
		<br><br><br><br>
		<h1 style="font-family:georgia cursive;" class="main-header shadow-text brown-text text-lighten-3">
			Nande's Home Decor
		</h1>
		<small class="motto shadow-text brown-text text-lighten-3" style="font-size:22px;">Dealers in quality bedsheets, towels and most any duvets.</small>
		<br><br><br>
		<a href="#/productsMain" ng-clic="showProducts()" class="product-bt btn brown lighten-4 mini-shadow-text brown-text text-lighten-1">
			OUR PRODUCTS
		</a>
		<div class="flow-text grey-text hide">
			<div class="grey-text text-darken-1" style="font-size:23px;">
				<div class="left">Joel Crust</div>
				<div class="right">Julius Caesar</div>
			</div>
			<br><br>
			<div style="padding:0 60px">
				<q class="">
					<strong>
						Their products are of pristine quality, and I got to meet Anne, she's really nice and warm. They even delivered them to the house with just a little bit of extra fee which was really nice.
					</strong>
				</q>
			</div>
			<br>
			<div class="grey-text text-darken-1" style="font-size:23px;">
				<div class="left">James Morrison</div>
				<div class="right">Enid Branch</div>
			</div>
		</div>
	</div>
</div>