<div class="home-page grey lighten-5">
	<div class="container center">
		<br><br><br><br>
		<br><br><br><br>
		<h1 class="main-header">
			Anne's Duvets
		</h1>
		<small class="motto" style="font-size:22px;">Dealers in quality bedsheets, towels and most any duvets.</small>
		<br><br><br>
		<a href="#/productsMain" class="btn grey grey-lighten-1">VIEW PRODUCTS</a>
		<div class="flow-text grey-text hide">
			<div class="grey-text text-darken-1" style="font-size:23px;">
				<div class="left">Joel Crust</div>
				<div class="right">Julius Caesar</div>
			</div>
			<br><br>
			<div style="padding:0 60px">
				<q class="">
					<strong>
						Their products are of pristine quality, and I got to meet Anne, she's really nice and warm. They even delivered them to the house with just a little bit of extra fee which was really nice.
					</strong>
				</q>
			</div>
			<br>
			<div class="grey-text text-darken-1" style="font-size:23px;">
				<div class="left">James Morrison</div>
				<div class="right">Enid Branch</div>
			</div>
		</div>
	</div>
</div>