<div id="parent">
	<div class="extry"></div>

	<div class="parallelogram {{products[0].bg_class}}">
		<img ng-src="{{products[0].cover_trans}}">
		<div class="desc">
			<h3 class="section-head center">{{products[0].name}}</h3>
			<p class="flow-text">
				{{products[0].desc}}
			</p>
			<a ui-sref="productsDetailed({pid:0})" class="btn btn-raised grey tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Tazama</a>
		</div>
	</div>

	<div class="parallelogram {{products[1].bg_class}}">
		<img ng-src="{{products[1].cover_trans}}">
		<div class="desc grey-text text-darken-1">
			<h3 class="section-head center">{{products[1].name}}</h3>
			<p class="flow-text">
				{{products[1].desc}}
			</p>

			<a ui-sref="productsDetailed({pid:1})" class="btn btn-raised light-blue lighten-1">Tazama</a>
		</div>
	</div>

	<div class="parallelogram {{products[2].bg_class}}">
		<img ng-src="{{products[2].cover_trans}}">
		<div class="desc">
			<h3 class="section-head center">{{products[2].name}}</h3>
			<p class="flow-text">
				{{products[2].desc}}
			</p>
			<a ui-sref="productsDetailed({pid:2})" class="btn btn-raised light-green lighten-2">Tazama</a>
		</div>
	</div>

	<div class="extry"></div>
</div>